* {
    padding: 0;
    margin-bottom: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul,li {
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

.images{
    width: 80%;
    height: 70vh;
    border: 1px solid black;
}

.text{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.text h2{
    display: flex;
    width: 60%;
    text-align: center;
    margin-bottom: 100px;
}

.film-banner{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.small-images{
    border: 1px solid black;
    width: 20%;
    height: 400px;
    margin-bottom: 50px;
}

