
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    background-color: #2E4F4F;
    color: #CBE4DE;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul a{
    text-decoration: none;
}

.navbar ul, li {
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin-bottom: 50px;
}

.images {
    width: 80%;
    height: 70vh;
    border-radius: 5px;
}

.text {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.text h2 {
    display: flex;
    width: 60%;
    text-align: center;
    margin-bottom: 100px;
}

.film-banner {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.small-images {
    width: 20%;
    height: 400px;
    margin-bottom: 50px;
}

.small-images2 {
    border-radius: 5px;
    height: 400px;
    width: 100%;
}

.caption {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    margin: 6% auto;
    background: darkgrey;
    padding: 5px;
    overflow: hidden;
}

.button-box {
    display: flex;
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px grey;
    border-radius: 30px;
}

.toggle-btn {
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    display: inline-block;
    margin: 5px;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, black, white);
    border-radius: 30px;
    transition: .5s;
}

.input-groep {
    top: 130px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #000;
    outline: none;
    background: transparent;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, black, white);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box {
    margin: 30px 10px 30px 0;
}

span {
    color: black;
    font-size: 12px;
    bottom: 68px;
}

#login {
    left: 50px;
}

#aanmelden {
    left: 450px;
}

.Main-list{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100px;
    background-color: white;
}

.main-list a{
    text-decoration: none;
}

.Box-Type{
    color: white;
    display: flex;
    width: 500px;
    gap: 20px;
    text-decoration: none;
    background-color: white;
    height: 100px;
}
