* {
    padding: 0;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.navbar ul,li {
    list-style: none;
}

.main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.images{
    width: 80%;
    height: 70vh;
    border: 1px solid black;

}

